FIF_API/FIF/xsd/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by qwdqwd (qwdqwd) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.vodafone.de/eai/BaseTypes.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vodafone.de/eai/BaseTypes.xsd" elementFormDefault="qualified" attributeFormDefault="qualified">
	<annotation>
		<documentation xml:lang="en">
       	     Author: Andre Genser
	         CVS Version: $Id: BaseTypes.xsd,v 1.4 2007/07/02 09:38:25 akosel Exp $
		     Request Schema for KIAS BaseTypes
       	     Version 1.0
       	     Edited by: Indira Hidalgo. Included new base types. Dic 2006
     
		</documentation>
	</annotation>
	<complexType name="errorType">
		<annotation>
			<documentation>
			    ErrorCode	            The error code.
   				ErrorType	            The type of the error.
			    ErrorSystem	        The name of the machine the application runs on. Determined usally by getHostName().
			    ErrorSeverity	        The severity of the error. E = Error I = Information D = Debug
			    ErrorMessage	    A short message text describing the error.
			    ErrorDescription		A longer description text describing the error, the reason for the error and (optionally) ways to resolve the error.
			    ErrorInformation	    Optional information on the error. May for example contain Tuxedo error codes and messages.
			    ErrorApplication	    The name of the application that generated the error. 
				ErrorTimestamp	    The date and time in ISO format (YYYY-MM-DD HH:MM:SS) when the error occurred.
				ErrorSubsystem	The name of the subsystem of the application that generated the error. 
				ErrorClass				The type of the error. Validation =	A validation error occurred. The contents of one or several input data fields is wrong. Functional = 	A functional error occurred. During the execution of the process of the EAI service a non-recoverably error occurred. Infrastructure = 	An infrastructure error occurred.
			</documentation>
		</annotation>
		<sequence>
			<element name="errorCode" type="string" minOccurs="0"/>
			<element name="errorType" type="string" minOccurs="0"/>
			<element name="errorSystem" type="string" minOccurs="0"/>
			<element name="errorSeverity" type="string" minOccurs="0"/>
			<element name="errorMessage" type="string" minOccurs="0"/>
			<element name="errorDescription" type="string" minOccurs="0"/>
			<element name="errorInformation" type="string" minOccurs="0"/>
			<element name="errorApplication" type="string" minOccurs="0"/>
			<element name="errorTimestamp" type="string" minOccurs="0"/>
			<element name="errorSubsystem" type="string" minOccurs="0"/>
			<element name="errorClass" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ResultDetailsObject">
		<annotation>
			<documentation>
				The result status of the service.
						Success =	The service executed successfully.
						Warning =	The service executed successfully, but a warning is issued due to the result of the process. See field WarningText for more information.
						Error =	The service executed erroneously. See ErrorDetails for detailed error information.
						
				The warning text. Only provided if the service result status is "Warning". Otherwise this field is empty.
				
				All object attributes are provided only if the service result status is "Error". Otherwise all attributes are empty.		
			</documentation>
		</annotation>
		<sequence>
			<element name="status" type="string"/>
			<element name="warningText" type="string" minOccurs="0"/>
			<element name="errorDetails" type="tns:errorType" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="SubscriberNumberType">
		<restriction base="string">
			<maxLength value="20"/>
			<pattern value="GSM([0-9])*"/>
		</restriction>
	</simpleType>
	<simpleType name="MarketCodeType">
		<restriction base="token">
			<enumeration value="MMC"/>
			<enumeration value="PUC"/>
			<enumeration value="MMO"/>
			<enumeration value="PUA"/>
		</restriction>
		<!-- Credit Markt -->
		<!-- Partner Unternehmen -->
		<!-- Debit Markt -->
		<!-- Partner Unternehmen Debit -->
	</simpleType>
	<simpleType name="SimplePhoneNumber">
		<annotation>
			<documentation>Normal regular phonenumber</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="^[1-9][0-9][1-9][0-9]{1,3}[1-9][0-9]{2,9}"/>
		</restriction>
	</simpleType>
	<simpleType name="CustomerNumber">
		<annotation>
			<documentation>Identifikator, 12 stellige Zahl</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[0-9]{12}"/>
		</restriction>
	</simpleType>
	<simpleType name="BANType">
		<restriction base="string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="YesNoType">
		<restriction base="token">
			<enumeration value="Y"/>
			<enumeration value="N"/>
		</restriction>
		<!-- Yes -->
		<!-- No -->
	</simpleType>
	<simpleType name="SubscrStatusType">
		<restriction base="integer">
			<pattern value="\d{1}"/>
			<pattern value="[0-2]"/>
		</restriction>
	</simpleType>
	<simpleType name="SubsidyType">
		<restriction base="token">
			<enumeration value="H"/>
			<enumeration value="S"/>
			<enumeration value=""/>
		</restriction>
	</simpleType>
	<simpleType name="ProdType">
		<restriction base="token">
			<enumeration value="GSM"/>
			<enumeration value="ANL"/>
		</restriction>
	</simpleType>
	<simpleType name="addrType">
		<restriction base="token">
			<enumeration value="L"/>
			<enumeration value="B"/>
		</restriction>
	</simpleType>
	<simpleType name="dslLinkPrdtpType">
		<restriction base="token">
			<pattern value="GSM|ANL| [\s]{1,3}"/>
		</restriction>
	</simpleType>
	<simpleType name="dslLinkNDCType">
		<restriction base="token">
			<pattern value="\d{1,5} | [\s]{1,5}"/>
		</restriction>
	</simpleType>
	<simpleType name="dslLinkMSISDNType">
		<restriction base="token">
			<pattern value="\d{1,10} | [\s]{1,10} "/>
		</restriction>
	</simpleType>
	<simpleType name="IntWithoutRest">
		<restriction base="integer"/>
	</simpleType>
	<simpleType name="Int2">
		<restriction base="integer">
			<pattern value="\d{2}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int3">
		<restriction base="integer">
			<pattern value="\d{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int4">
		<restriction base="integer">
			<pattern value="\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int5">
		<restriction base="integer">
			<pattern value="\d{5}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int6">
		<restriction base="integer">
			<pattern value="\d{1,6}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int8">
		<restriction base="integer">
			<pattern value="\d{8}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int9">
		<restriction base="integer">
			<pattern value="\d{1,9}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int10">
		<restriction base="integer">
			<pattern value="\d{10}"/>
		</restriction>
	</simpleType>
	<simpleType name="Int12">
		<restriction base="integer">
			<pattern value="\d{1,12}"/>
		</restriction>
	</simpleType>
	<simpleType name="StringWithoutRest">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="String1">
		<restriction base="string">
			<length value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="String2">
		<restriction base="string">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="String3">
		<restriction base="string">
			<length value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="String5">
		<restriction base="string">
			<length value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="String8">
		<restriction base="string">
			<length value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax1">
		<restriction base="string">
			<maxLength value="1"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax2">
		<restriction base="string">
			<maxLength value="2"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax3">
		<restriction base="string">
			<maxLength value="3"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax4">
		<restriction base="string">
			<maxLength value="4"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax5">
		<restriction base="string">
			<maxLength value="5"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax6">
		<restriction base="string">
			<maxLength value="6"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax8">
		<restriction base="string">
			<maxLength value="8"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax9">
		<restriction base="string">
			<maxLength value="9"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax10">
		<restriction base="string">
			<maxLength value="10"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax12">
		<restriction base="string">
			<maxLength value="12"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax15">
		<restriction base="string">
			<maxLength value="15"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax20">
		<restriction base="string">
			<maxLength value="20"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax25">
		<restriction base="string">
			<maxLength value="25"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax26">
		<restriction base="string">
			<maxLength value="26"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax29">
		<restriction base="string">
			<maxLength value="29"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax30">
		<restriction base="string">
			<maxLength value="30"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax32">
		<restriction base="string">
			<maxLength value="32"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax40">
		<restriction base="string">
			<maxLength value="40"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax50">
		<restriction base="string">
			<maxLength value="50"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax60">
		<restriction base="string">
			<maxLength value="60"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax90">
		<restriction base="string">
			<maxLength value="90"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax100">
		<restriction base="string">
			<maxLength value="100"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax150">
		<restriction base="string">
			<maxLength value="150"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax2000">
		<restriction base="string">
			<maxLength value="2000"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="StringMax4000">
		<restriction base="string">
			<maxLength value="4000"/>
			<minLength value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="streetNumberType">
		<restriction base="positiveInteger">
			<minInclusive value="1"/>
			<maxInclusive value="9999"/>
		</restriction>
	</simpleType>
	<simpleType name="upstreamType">
		<restriction base="positiveInteger"/>
	</simpleType>
	<simpleType name="downstreamType">
		<restriction base="positiveInteger"/>
	</simpleType>
	<simpleType name="bandwidthType">
		<restriction base="positiveInteger"/>
	</simpleType>
</schema>
